.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.NavBar {
  background-color: white;
  width: 100%;
  border-bottom: #CCCCCC 3px solid;
}

.NavBar-bland {
  padding: 0px 15px;
  width: fit-content;
  text-align: left;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.thread-panel {
  margin: 5px;
  border: 1px solid #dddddd;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.thread-panel-heading {
  background-color: #f0f0f0;
  padding: 10px;
}

.thread-panel-body {
  padding: 15px;
}

.posts-panel {
  border: 1px solid #dddddd;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.posts-panel-heading {
  background-color: #f0f0f0;
  padding: 10px;
}

.posts-panel-body {
  padding: 15px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

textarea {
  margin: 10px;
  width: 70%;
  height: 50px;
}